In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],'key2':['one', 'two','one','two','one'],
                   'data1':np.random.randn(5), 'data2': np.random.randn(5)})

In [3]:
df

      data1     data2 key1 key2
0  1.615736 -0.376625    a  one
1  0.556940  0.469642    a  two
2  1.738240 -0.165935    b  one
3  0.500673 -0.446004    b  two
4  1.101232 -1.857891    a  one

In [4]:
grouped = df['data1'].groupby(df['key1'])

In [5]:
grouped

In [6]:
grouped.mean()

key1
a    1.091303
b    1.119456
Name: data1, dtype: float64

In [8]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()

In [9]:
means

key1  key2
a     one     1.358484
      two     0.556940
b     one     1.738240
      two     0.500673
Name: data1, dtype: float64

In [10]:
means.unstack()

key2       one       two
key1
a     1.358484  0.556940
b     1.738240  0.500673

In [11]:
states = np.array(['Ohio', 'California', 'California','Ohio', 'Ohio'])

In [12]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [13]:
df['data1'].groupby([states,years]).mean()

California  2005    0.556940
            2006    1.738240
Ohio        2005    1.058204
            2006    1.101232
Name: data1, dtype: float64

In [14]:
df.groupby('key1').mean()

         data1     data2
key1
a     1.091303 -0.588291
b     1.119456 -0.305970

In [15]:
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one   1.358484 -1.117258
     two   0.556940  0.469642
b    one   1.738240 -0.165935
     two   0.500673 -0.446004

In [16]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [17]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0  1.615736 -0.376625    a  one
1  0.556940  0.469642    a  two
4  1.101232 -1.857891    a  one
b
      data1     data2 key1 key2
2  1.738240 -0.165935    b  one
3  0.500673 -0.446004    b  two

In [18]:
for name, group in df.groupby(['key1','key2']):
    print(name)
    print(group)

('a', 'one')
      data1     data2 key1 key2
0  1.615736 -0.376625    a  one
4  1.101232 -1.857891    a  one
('a', 'two')
     data1     data2 key1 key2
1  0.55694  0.469642    a  two
('b', 'one')
     data1     data2 key1 key2
2  1.73824 -0.165935    b  one
('b', 'two')
      data1     data2 key1 key2
3  0.500673 -0.446004    b  two

In [19]:
pieces = dict(list(df.groupby('key1')))

In [20]:
pieces['b']

      data1     data2 key1 key2
2  1.738240 -0.165935    b  one
3  0.500673 -0.446004    b  two

In [21]:
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [22]:
grouped = df.groupby(df.dtypes, axis=1)

In [23]:
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0  1.615736 -0.376625
1  0.556940  0.469642
2  1.738240 -0.165935
3  0.500673 -0.446004
4  1.101232 -1.857891
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

In [24]:
df.groupby(['key1','key2'])['data2'].mean()

key1  key2
a     one    -1.117258
      two     0.469642
b     one    -0.165935
      two    -0.446004
Name: data2, dtype: float64

In [25]:
people = pd.DataFrame(np.random.randn(5,5), columns=['a','b','c','d','e'], index=['Joe','Steve','Wes','Jim','Travis'])

In [26]:
people

               a         b         c         d         e
Joe    -0.883301 -1.841587  0.716804  0.270568 -1.059654
Steve  -0.354266  1.369469 -0.803554  0.708891  0.152220
Wes     0.516443  0.511477  1.102013 -0.856135  1.509901
Jim     0.862901 -0.731781  0.584991 -0.705494 -0.027271
Travis  0.515836 -0.924430  0.448220  0.528023 -0.511959

In [27]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue','d': 'blue', 'e': 'red', 'f' : 'orange'}

In [28]:
by_column = people.groupby(mapping, axis=1)

In [30]:
by_column.sum()

            blue       red
Joe     0.987372 -3.784542
Steve  -0.094664  1.167423
Wes     0.245877  2.537821
Jim    -0.120503  0.103849
Travis  0.976243 -0.920553

In [31]:
map_Series = pd.Series(mapping)

In [32]:
map_Series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [33]:
people.groupby(map_Series, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        2    3
Jim        2    3
Travis     2    3

In [34]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.496043 -2.061891  2.403807 -1.291061  0.422975
5 -0.354266  1.369469 -0.803554  0.708891  0.152220
6  0.515836 -0.924430  0.448220  0.528023 -0.511959

In [35]:
key_list = ['one', 'one', 'one', 'two', 'two']

In [39]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -0.883301 -1.841587  0.716804 -0.856135 -1.059654
  two  0.862901 -0.731781  0.584991 -0.705494 -0.027271
5 one -0.354266  1.369469 -0.803554  0.708891  0.152220
6 two  0.515836 -0.924430  0.448220  0.528023 -0.511959

In [40]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US','JP', 'JP'],[1, 3, 5, 1, 3]],names=['cty', 'tenor'])

In [41]:
columns

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])

In [42]:
hier_df = pd.DataFrame(np.random.randn(4, 5),columns=columns)

In [43]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0     -1.060968  2.071114 -0.747856  0.630411 -2.719843
1      1.528334  0.483623  0.814691 -1.005386  0.980381
2      0.671703  1.962767  1.069145  1.451600  0.419517
3     -0.061900  0.593213  0.367867 -0.808600  1.173948

In [44]:
hier_df.groupby(level='cty', axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [45]:
df

      data1     data2 key1 key2
0  1.615736 -0.376625    a  one
1  0.556940  0.469642    a  two
2  1.738240 -0.165935    b  one
3  0.500673 -0.446004    b  two
4  1.101232 -1.857891    a  one

In [46]:
grouped = df.groupby('key1')

In [47]:
grouped['data1'].quantile(0.9)

key1
a    1.512835
b    1.614483
Name: data1, dtype: float64

In [48]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

         data1     data2
key1
a     1.058796  2.327533
b     1.237567  0.280068

In [49]:
grouped.describe()

               data1     data2
key1
a    count  3.000000  3.000000
     mean   1.091303 -0.588291
     std    0.529468  1.178115
     min    0.556940 -1.857891
     25%    0.829086 -1.117258
     50%    1.101232 -0.376625
     75%    1.358484  0.046509
     max    1.615736  0.469642
b    count  2.000000  2.000000
     mean   1.119456 -0.305970
     std    0.875092  0.198038
     min    0.500673 -0.446004
     25%    0.810064 -0.375987
     50%    1.119456 -0.305970
     75%    1.428848 -0.235952
     max    1.738240 -0.165935

In [50]:
tips = pd.read_csv('/ZJN/pydata-book-2nd-edition/examples/tips.csv')

In [51]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [52]:
tips[:6]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

In [53]:
grouped = tips.groupby(['day','smoker'])

In [54]:
grouped_pct = grouped['tip_pct']

In [55]:
grouped_pct.agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [56]:
grouped_pct

In [57]:
grouped

In [58]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [59]:
grouped = tips.groupby(['day'])

In [60]:
grouped_pct = grouped['tip_pct']

In [61]:
grouped_pct.agg('mean')

day
Fri     0.169913
Sat     0.153152
Sun     0.166897
Thur    0.161276
Name: tip_pct, dtype: float64

In [62]:
def top(df, n=5,  column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [63]:
top(tips, 6)

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [64]:
tips.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [65]:
tips.groupby(['smoker', 'day']).apply(top, n=1,column='total_bill')

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [66]:
result = tips.groupby('smoker')['tip_pct'].describe()

In [67]:
result

smoker
No      count    151.000000
        mean       0.159328
        std        0.039910
        min        0.056797
        25%        0.136906
        50%        0.155625
        75%        0.185014
        max        0.291990
Yes     count     93.000000
        mean       0.163196
        std        0.085119
        min        0.035638
        25%        0.106771
        50%        0.153846
        75%        0.195059
        max        0.710345
Name: tip_pct, dtype: float64

In [68]:
tips.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [69]:
tips.groupby('smoker', group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [70]:
frame = pd.DataFrame({'data1': np.random.randn(1000),'data2': np.random.randn(1000)})

In [71]:
frame

        data1     data2
0   -1.579002  0.600246
1   -1.509912  1.218960
2    0.583957  0.359306
3    0.362818  0.937480
4   -0.544008 -1.098273
5   -0.502452  1.244860
6    0.108133  0.389893
7    1.568289 -0.463779
8   -0.073003 -0.381648
9   -0.395148 -0.837062
10  -0.641381  1.573093
11   0.476139 -1.690307
12  -0.588352 -1.481011
13  -0.195443  1.715464
14  -0.033127  0.513311
15   1.675378  0.462715
16  -1.283589  0.682544
17   0.491592 -1.196450
18  -0.198711  0.945542
19  -0.085996 -0.072963
20   0.979198  0.380968
21   1.535646  0.960575
22   1.907002 -0.110144
23  -1.198816 -1.711464
24   0.895556 -1.846454
25   0.531373 -1.235848
26  -2.168567 -1.525629
27  -0.233862 -0.303120
28  -1.382630  0.031617
29   0.759260  0.792995
..        ...       ...
970  2.077380 -1.070573
971  0.929118 -0.604200
972  0.872386  0.298828
973  0.898340 -0.176230
974  0.352394 -0.991400
975 -2.030840  0.561792
976  2.068193  0.570860
977 -0.955567 -0.675519
978  1.387795 -0.843126
979 -0.216027  1.194172
980  2.028606  0.745125
981 -0.068774 -0.303714
982  0.778720 -1.247589
983 -0.169175  0.429853
984  1.256383 -0.397028
985 -0.486337 -1.370149
986 -0.391773 -0.237560
987  1.949064  1.618388
988  0.255000  0.135404
989  1.382703  0.592659
990 -0.288012  1.960338
991  0.480789 -0.832042
992 -0.822376  0.153896
993 -2.183254  0.335543
994  1.845929 -0.445327
995  1.952653 -0.765470
996  0.111724  0.126739
997 -2.876548 -1.038083
998 -0.017282 -1.141408
999  0.322282  0.398237

[1000 rows x 2 columns]

In [72]:
quartiles = pd.cut(frame.data1,4)

In [73]:
quartiles

0      (-1.677, -0.0311]
1      (-1.677, -0.0311]
2       (-0.0311, 1.615]
3       (-0.0311, 1.615]
4      (-1.677, -0.0311]
5      (-1.677, -0.0311]
6       (-0.0311, 1.615]
7       (-0.0311, 1.615]
8      (-1.677, -0.0311]
9      (-1.677, -0.0311]
10     (-1.677, -0.0311]
11      (-0.0311, 1.615]
12     (-1.677, -0.0311]
13     (-1.677, -0.0311]
14     (-1.677, -0.0311]
15        (1.615, 3.261]
16     (-1.677, -0.0311]
17      (-0.0311, 1.615]
18     (-1.677, -0.0311]
19     (-1.677, -0.0311]
20      (-0.0311, 1.615]
21      (-0.0311, 1.615]
22        (1.615, 3.261]
23     (-1.677, -0.0311]
24      (-0.0311, 1.615]
25      (-0.0311, 1.615]
26      (-3.329, -1.677]
27     (-1.677, -0.0311]
28     (-1.677, -0.0311]
29      (-0.0311, 1.615]
             ...
970       (1.615, 3.261]
971     (-0.0311, 1.615]
972     (-0.0311, 1.615]
973     (-0.0311, 1.615]
974     (-0.0311, 1.615]
975     (-3.329, -1.677]
976       (1.615, 3.261]
977    (-1.677, -0.0311]
978     (-0.0311, 1.615]
979    (-1.677, -0.0311]
980       (1.615, 3.261]
981    (-1.677, -0.0311]
982     (-0.0311, 1.615]
983    (-1.677, -0.0311]
984     (-0.0311, 1.615]
985    (-1.677, -0.0311]
986    (-1.677, -0.0311]
987       (1.615, 3.261]
988     (-0.0311, 1.615]
989     (-0.0311, 1.615]
990    (-1.677, -0.0311]
991     (-0.0311, 1.615]
992    (-1.677, -0.0311]
993     (-3.329, -1.677]
994       (1.615, 3.261]
995       (1.615, 3.261]
996     (-0.0311, 1.615]
997     (-3.329, -1.677]
998     (-0.0311, 1.615]
999     (-0.0311, 1.615]
Name: data1, dtype: category
Categories (4, object): [(-3.329, -1.677] < (-1.677, -0.0311] < (-0.0311, 1.615] < (1.615, 3.261]]

In [74]:
quartiles[:10]

0    (-1.677, -0.0311]
1    (-1.677, -0.0311]
2     (-0.0311, 1.615]
3     (-0.0311, 1.615]
4    (-1.677, -0.0311]
5    (-1.677, -0.0311]
6     (-0.0311, 1.615]
7     (-0.0311, 1.615]
8    (-1.677, -0.0311]
9    (-1.677, -0.0311]
Name: data1, dtype: category
Categories (4, object): [(-3.329, -1.677] < (-1.677, -0.0311] < (-0.0311, 1.615] < (1.615, 3.261]]

In [75]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
           'count':group.count(), 'mean': group.mean()}

In [77]:
grouped = frame.data2.groupby(quartiles)

In [78]:
grouped.apply(get_stats).unstack()

                   count       max      mean       min
data1
(-3.329, -1.677]    53.0  3.407085  0.110494 -2.229996
(-1.677, -0.0311]  448.0  2.793522  0.018082 -2.719452
(-0.0311, 1.615]   451.0  3.102544 -0.026215 -2.486916
(1.615, 3.261]      48.0  1.839924 -0.101904 -2.117639

In [79]:
s = pd.Series(np.random.randn(6))

In [80]:
s

0   -0.009399
1   -0.321096
2    1.347803
3   -0.624952
4   -0.794508
5   -1.268302
dtype: float64

In [81]:
s[::2]=np.nan

In [82]:
s

0         NaN
1   -0.321096
2         NaN
3   -0.624952
4         NaN
5   -1.268302
dtype: float64

In [83]:
s.fillna(s.mean())

0   -0.738116
1   -0.321096
2   -0.738116
3   -0.624952
4   -0.738116
5   -1.268302
dtype: float64

In [84]:
states = ['Ohio', 'New York', 'Vermont', 'Florida','Oregon', 'Nevada', 'California', 'Idaho']

In [85]:
states

['Ohio',
 'New York',
 'Vermont',
 'Florida',
 'Oregon',
 'Nevada',
 'California',
 'Idaho']

In [86]:
group_key = ['East'] * 4 + ['West'] * 4

In [87]:
group_key

['East', 'East', 'East', 'East', 'West', 'West', 'West', 'West']

In [88]:
data = pd.Series(np.random.randn(8), index=states)

In [89]:
data

Ohio         -0.382974
New York     -1.688601
Vermont       0.325958
Florida      -0.007846
Oregon        0.965533
Nevada        0.328907
California   -1.549096
Idaho        -1.333191
dtype: float64

In [90]:
data['Vermont', 'Nevada', 'Idaho'] = np.nan

In [91]:
data

Ohio         -0.382974
New York     -1.688601
Vermont            NaN
Florida      -0.007846
Oregon        0.965533
Nevada             NaN
California   -1.549096
Idaho              NaN
dtype: float64

In [92]:
data.groupby(group_key).mean()

East   -0.693141
West   -0.291781
dtype: float64